System_3/Ligand_simulation/lambda_MetaD/COLVAR
System_3/Ligand_simulation/lambda_MetaD/COLVAR_SUM_BIAS
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA_modified
System_3/Ligand_simulation/lambda_MetaD/md.log
System_3/Ligand_simulation/lambda_MetaD/sys3_gst_md.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_backup
System_3/Test_1/HILLS_LAMBDA
System_3/Test_1/sys3.xtc
System_1/Test_1/1D_lambda_MetaD/COLVAR
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA_modified
System_1/Test_1/1D_lambda_MetaD/COLVAR_SUM_BIAS
System_1/Test_1/1D_lambda_MetaD/sys1_EXE.xtc
System_1/Test_1/EXE/Fixed/sys1_EXE.xtc
