System_1/Test_1/1D_lambda_MetaD/fes_files/fes_*.dat
System_2/Test_1/1D_lambda_MetaD/State_A/fes_files/fes_*.dat
System_2/Test_1/1D_lambda_MetaD/State_B/fes_files/fes_*.dat
System_2/Test_1/2D_lambda_MetaD/State_A/fes_files/fes_*.dat
System_2/Test_1/2D_lambda_MetaD/State_B/fes_files/fes_*.dat
System_3/Ligand_simulation/lambda_MetaD/COLVAR
System_3/Ligand_simulation/lambda_MetaD/COLVAR_SUM_BIAS
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA_modified
System_3/Ligand_simulation/lambda_MetaD/md.log
System_3/Ligand_simulation/lambda_MetaD/sys3_gst_md.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_backup
System_3/Test_1/HILLS_LAMBDA
System_3/Test_1/sys3.xtc
System_1/Test_1/1D_lambda_MetaD/COLVAR
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA_modified
System_1/Test_1/1D_lambda_MetaD/COLVAR_SUM_BIAS
System_1/Test_1/1D_lambda_MetaD/sys1_EXE.xtc
System_1/Test_1/EXE/Fixed/sys1_EXE.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_backup
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_backup
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_backup
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA
System_1/Test_1/1D_lambda_MetaD/HILLS_LAMBDA_modified
System_1/Test_1/1D_lambda_MetaD/COLVAR_SUM_BIAS
System_1/Test_1/1D_lambda_MetaD/COLVAR
System_1/Test_1/1D_lambda_MetaD/sys1_EXE.xtc
System_1/Test_1/EXE/Wang-Landau/sys1_EXE.xtc
System_1/Test_1/EXE/Fixed/sys1_EXE.xtc
System_1/Test_1/EXE/Fixed_redo/trial_2/sys1_EXE.xtc
System_1/Test_1/EXE/Fixed_redo/sys1_EXE.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.log
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/2D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/2D_lambda_MetaD/State_B/COLVAR
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA
System_3/Ligand_simulation/lambda_MetaD/HILLS_LAMBDA_modified
System_3/Ligand_simulation/lambda_MetaD/COLVAR_SUM_BIAS
System_3/Ligand_simulation/lambda_MetaD/COLVAR
System_3/Ligand_simulation/lambda_MetaD/md.log
System_3/Ligand_simulation/lambda_MetaD/sys3_gst_md.xtc
System_3/Solvent_simulation/lambda_MetaD/HILLS_LAMBDA
System_3/Solvent_simulation/lambda_MetaD/HILLS_LAMBDA_modified
System_3/Solvent_simulation/lambda_MetaD/COLVAR_SUM_BIAS
System_3/Solvent_simulation/lambda_MetaD/COLVAR
System_3/Solvent_simulation/lambda_MetaD/md.log
System_3/Solvent_simulation/lambda_MetaD/sys3_gst_md.xtc
System_3/Test_1/HILLS_LAMBDA
System_3/Test_1/sys3_md.xtc
System_3/Test_1/HILLS_LAMBDA_modified
System_3/Test_1/COLVAR_SUM_BIAS
System_3/Test_1/COLVAR
System_3/Test_1/md.log
System_3/Test_1/md.edr
System_3/EXE/gmx_21.4/Wang-Landau/backup/EXE.log
System_3/EXE/gmx_21.4/Wang-Landau/backup/sys3_EXE.xtc
System_3/EXE/gmx_21.4/Wang-Landau/sys3_EXE.xtc
System_3/EXE/gmx_21.4/Fixed/sys3_EXE.xtc
System_3/EXE/gmx_18/Wang-Landau/sys3_EXE.xtc
System_3/Vanilla/unbound/rep_2/sys3_md.xtc
System_3/Vanilla/unbound/rep_2/md.log
System_3/Vanilla/unbound/rep_2/md.edr
System_3/Vanilla/unbound/rep_7/sys3_md.xtc
System_3/Vanilla/unbound/rep_7/md.log
System_3/Vanilla/unbound/rep_7/md.edr
System_3/Vanilla/unbound/rep_5/sys3_md.xtc
System_3/Vanilla/unbound/rep_5/md.log
System_3/Vanilla/unbound/rep_5/md.edr
System_3/Vanilla/unbound/rep_8/sys3_md.xtc
System_3/Vanilla/unbound/rep_8/md.log
System_3/Vanilla/unbound/rep_8/md.edr
System_3/Vanilla/unbound/rep_4/sys3_md.xtc
System_3/Vanilla/unbound/rep_4/md.log
System_3/Vanilla/unbound/rep_4/md.edr
System_3/Vanilla/unbound/rep_10/sys3_md.xtc
System_3/Vanilla/unbound/rep_10/md.log
System_3/Vanilla/unbound/rep_10/md.edr
System_3/Vanilla/unbound/rep_6/sys3_md.xtc
System_3/Vanilla/unbound/rep_6/md.log
System_3/Vanilla/unbound/rep_6/md.edr
System_3/Vanilla/unbound/rep_9/sys3_md.xtc
System_3/Vanilla/unbound/rep_9/md.log
System_3/Vanilla/unbound/rep_9/md.edr
System_3/Vanilla/unbound/rep_3/sys3_md.xtc
System_3/Vanilla/unbound/rep_3/md.log
System_3/Vanilla/unbound/rep_3/md.edr
System_3/Vanilla/unbound/rep_1/sys3_md.xtc
System_3/Vanilla/unbound/rep_1/md.log
System_3/Vanilla/unbound/rep_1/md.edr
System_3/Vanilla/host/MD/host_md.edr
System_3/Vanilla/host/MD/host_md.xtc
System_3/Vanilla/host/MD/host_md.log
System_3/Vanilla/complex/sys3_md.xtc
System_3/Vanilla/complex/md.log
System_3/Vanilla/complex/md.edr
System_3/Test_2/weights.npy
System_3/Test_2/sys3_md.xtc
System_3/Test_2/COLVAR_SUM_BIAS
System_3/Test_2/HILLS_2D
System_3/Test_2/COLVAR
System_3/Test_2/HILLS_2D_modified
System_3/Test_2/md.log
System_3/Test_2/md.edr
