System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_B/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_B/COLVAR_SUM_BIAS
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR
System_2/Test_1/1D_lambda_MetaD/State_A/sys2.xtc
System_2/Test_1/1D_lambda_MetaD/State_A/COLVAR_SUM_BIAS
